/.metadata/
Week_16/MySQL Software/MacPorts-2.8.1-13-Ventura.pkg
Week_16/MySQL Software/mysql-8.0.32-macos13-x86_64.dmg
Week_16/MySQL Software/mysql-8.0.32-macos13-x86_64.tar
Week_16/MySQL Software/mysql-connector-python-8.0.32-macos13-arm64.dmg
Week_16/MySQL Software/mysql-workbench-community-8.0.19-macos-x86_64.dmg
Week_16/MySQL Software/mysql-workbench-community-8.0.32-macos-x86_64.dmg
