<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>Create Account</title>
    </head>
    <body>
        <h1>Create your Account</h1>
        <form action="/register" method="post">
            <div>
                <label>Username:</label> <input type="text" th:field="${user.username}"/>
            </div> 
            <div>
                <label>Password:</label> <input type="password" th:field="${user.password}"/>
            </div> 
            <div>
                <label>Name:</label> <input type="text" th:field="${user.name}"/>
            </div> 
            <div>
                <input type="submit" value="Submit"/>
            </div> 
        </form> 
    </body>
</html>