<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Users</title>
</head>
<body>
    <h1>Users</h1>
    <div th:if="${#lists.size(users) == 1}">
    <!-- th:if is the same as an if statement in java -->
        <form action="" method="post">
            <div>
                <label>Username:</label> <input type="text" th:field="${user.username}"/>
            </div> 
            <div>
                <label>Password:</label> <input type="password" th:field="${user.password}"/>
            </div> 
            <div>
                <label>Name:</label> <input type="text" th:field="${user.name}"/>
            </div> 
            <div>
                <input type="submit" value="Update User Account"/>
            </div> 
        </form> 
        <!-- making a new form to be able to add a "delete" action. Otherwise, it would requise JS -->
        <form th:action="@{/users/{userId}/delete(userId=${user.userId})}" method="post">
            <input type="submit" value="Delete User Account"/>
        </form>
    </div>
    <div th:unless="${#lists.size(users) == 1}" th:each="user : ${users}">
    <!-- th:unless is the thymeleaf version of if else -->
        <span th:text="${user.userId}"></span><br>
        <span th:text="${user.username}"></span><br>
        <span th:text="${user.name}"></span><br>
        <span th:text="${user.password}"></span><br>
        <hr>
    </div>
</body>
</html>