<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Login Below</h1>
        <div>
            Username: <input type="text" th:field="${user.username}">
        </div>
        <div>
            Password: <input type="password" th:field="${user.password}">
        </div>
        <div>
            <button type="button" id="submitBtn">Submit</button>
        </div>
        <script type="text/javascript" src="/js/login.js"></script>
    </body>
</html>