<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>Login</title>
        <script type="text/javascript">
            var name = 'Kenny Cheng'
            var age = 35

            alert("Hello world!")
            // JS syntax is similar to Java but there is no need to type the ";" at the end
            // Also, the definition of variables is not the same in JS
            // There are also different ways of concatenation

            // alert('Concat 1: Hello world! My name is ' + name + ' and I am ' + age + ' years old')
            // alert(`Concat 2: Hello world! 
            // My name is ${name} and I am ${age} years old`)

            var car
            console.log(`The value of "car" is: ${car}, data type is ${typeof car}`)
            console.log(`The value of age is: ${age}, the type is ${typeof age}`)
            console.log(`The value of 'name' is: ${name}, the type is: ${typeof name}`)
            console.log(`What is 5+10 = ${5+10}`)

            var addition = 5+15
            console.log(`addition = ${addition}`)

            var person = {
                'firstName': 'Kenny',
                'lastName': 'Cheng',
                'age': 35,
                'address': {
                    'line1': '123 Fake St',
                    'line2': 'Unit 5',
                    'city': 'New York',
                    'state': 'New York',
                    'zipCode': 12345,
                }
            }
            console.log(person)

            var submitBtn = document.querySelector("#submitBtn")
            console.log('submitBtn is: ' + submitBtn)
        </script>
    </head>
    <body>
        <h1>Login Below</h1>
        <div>
            Username: <input type="text" th:field="${user.username}">
        </div>
        <div>
            Password: <input type="password" th:field="${user.password}">
        </div>
        <div>
            <button type="button" id="submitBtn">Submit</button>
        </div>
        <script type="text/javascript">
            var submitBtn = document.querySelector('#submitBtn')
            console.log('submitBtn is: ' + submitBtn)

            // function(){} = public void myMethod(){}
            submitBtn.addEventListener('click', submitBtnClick)
            function submitBtnClick () {
                alert("Hey! I've been clicked")
            }

            submitBtn.addEventListener('mouseover', function () {
                alert("Hey! I've been mouse overed")
            })

            var usernameTextbox = document.querySelector("#username")
            usernameTextbox.addEventListener('focus', function () {
                console.log("The username textbox now has focus")
            })
            // lambdas also exist in JS instead of -> it's =>
            var passwordTextbox = document.querySelector("#password")
            passwordTextbox.addEventListener('focus', () => console.log("Password focus"))
        </script>
    </body>
</html>