<html xmlns:th="http://thymeleaf.org">
<head>
<title>Welcome</title>
</head>
<body>
	<h1>Welcome</h1>
	<p>Inserting the code via "in-line"</p>
	<div th:inline="text">Hi there [[${firstname}]]</div>
	<br><hr>
	<p>Inserting the code via div tag</p>
	<div th:text="|Hi there ${firstname}|">This text will not show on
		the browser</div>
	<br><hr><hr>
	<p>Below is using the controller and Thymeleaf:</p>

	<div th:each="storedPerson : ${people}">
		<span th:inline="text">
			Person #[[${storedPerson.id}]]: <a th:href="@{/persons/{personId}(personId=${storedPerson.id})}">[[${storedPerson.firstname}]] [[${storedPerson.lastname}]]</a>
		</span>
	</div>
	<form action="" method="post">
		<input type="hidden" th:field="${person.id}">
		<div>
			<label>First Name:</label> <input type="text"
				th:field="${person.firstname}">
		</div>
		<div>
			<label>Last Name:</label> <input type="text"
				th:field="${person.lastname}">
		</div>
		<div>
			<a href="/persons" th:if="${person.id != null}">Back</a>
			<button>Submit</button>
		</div>
	</form>
	<form th:action="@{/persons/{personId}/delete(personId=${person.id})}" method="post" th:if="${person.id != null}">
	<!-- @{ } allows th to create a dynamic URL -->
			<button>Delete</button>
	</form>
</body>
</html>