<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Welcome</title>
	</head>
	<body>
		<h1>Welcome</h1>
		<p>Inserting the code via "in-line"</p>
		<div th:inline="text">Hi there [[${firstname}]]</div>
		<p>Inserting the code via div tag</p>
		<div th:text="|Hi there ${firstname}|">This text will not show on the browser</div>
		
		<form action="" method="post">
			<div>
				<label>First Name:</label>
				<input type="text" th:field="${person.firstname}">
			</div>
			<div>
				<label>Last Name:</label>
				<input type="text" th:field="${person.lastname}">
			</div>
			<div>
				<button>Submit</button>
			</div>
		</form>
	</body>
</html>